[submodule "OSAS/vendor/GLFW"]
	path = OSAS/vendor/GLFW
	url = https://github.com/RuurddeRonde/glfw
[submodule "OSAS/OSAS/vendor/glm"]
	path = OSAS/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "OSAS/vendor/imgui"]
	path = OSAS/vendor/imgui
	url = https://github.com/RuurddeRonde/imgui.git
